/***** COLOR PALETTE *****/
/* [BLUE]from light to dark */
/*
#e1f5fe
#80d8ff
#40c4ff
#00b0ff
#0091ea
#0277bd
*/
/* [PINK]from dark to light */
/*
#a52c55
#ec407a
#ef6694
*/

body {
  /* COLOR */
  background-color: #f1f1f1;
  /* background-color: #e1f5fe; */
  color: #2D2D2D;

  /* FONT */
  font-size: 16px;
  font-weight: lighter;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  /* line-height: 1.6em; */

  /* FORMAT */


}


/******************** Navbar container ********************/
.navBar {
  overflow: hidden;

  /*#01579B*/
  background-color: #01579B;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px #01579B;
}

/* Links inside the navbar */
.navBar a {
  float: left;

  font-size: 16px; 
  color: white;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropdownBtn {
  font-size: 16px; 
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px #01579B;
  border: none;
  outline: none;
  color: white;

  padding: 18px 18px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0;
}

/* hover color */
.navBar a:hover, .dropdown:hover .dropdownBtn {
  background-color: #0277BD;
}

/* Dropdown content (hidden by default) */
.dropdownList {
  display: none;
  position: absolute;
  background-color: #ECEFF1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownList a {
  float: none;
  color: #263238;
  padding: 12px 16px;
  text-shadow: none;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdownList a:hover {
  background-color: #BBDEFB;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownList {
  display: block;
}

/******************** END OF Navbar ********************/


.logo-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 500px;
  object-fit: contain;
  max-width: 75vh;

}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;  
  border-top: #0277bd 1.5px solid;
  color: #0277bd;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}
